<div id="footer-wrapper">
  <div class="section">
  <div class="clearfix" id="footer-columns">
          <div class="region region-footer-firstcolumn">
    <div class="block block-menu" id="block-menu-menu-chi-siamo">

    <h2>Chi siamo</h2>
  
  <div class="content">
    <ul class="menu clearfix"><li class="first leaf"><a title="" href="http://www.formez.it">Formez PA</a></li>
<li class="leaf"><a title="Link al sito web digitpa.gov.it" href="http://www.digitpa.gov.it/">Agenzia per l’Italia Digitale</a></li>
<li class="last leaf"><a title="" href="http://www.funzionepubblica.gov.it/">Funzione Pubblica</a></li>
</ul>  </div>
</div>
  </div>
          <div class="region region-footer-secondcolumn">
    <div class="block block-menu" id="block-menu-menu-partner">

    <h2>Cataloghi nazionali</h2>
  
  <div class="content">
    <ul class="menu clearfix"><li class="first leaf"><a title="" href="http://data.cnr.it">CNR</a></li>
<li class="leaf"><a title="" href="http://dati.camera.it/it/">Camera dei Deputati</a></li>
<li class="leaf"><a title="" href="http://www.perlapa.gov.it/web/guest/open-data">Funzione Pubblica</a></li>
<li class="leaf"><a title="" href="http://www.inps.it/portale/default.aspx?sID=%3b0%3b7719%3b&amp;lastMenu=7719&amp;iMenu=1&amp;iNodo=7719&amp;p4=2">INPS</a></li>
<li class="leaf"><a title="" href="http://dati.istat.it/">Istat</a></li>
<li class="leaf"><a title="" href="http://www.dati.salute.gov.it">Ministero della Salute</a></li>
<li class="leaf"><a title="" href="http://www.sviluppoeconomico.gov.it/index.php?option=com_content&amp;view=article&amp;viewType=1&amp;id=2023535&amp;idarea1=0&amp;idarea2=0&amp;idarea3=0&amp;idarea4=0&amp;andor=AND&amp;sectionid=0&amp;cattitle1=Come%20fare%20per&amp;andorcat=AND&amp;partebassaType=0&amp;idareaCalendario1=0&amp;MvediT=1&amp;showMe">Ministero dello Sviluppo Economico</a></li>
<li class="leaf"><a title="" href="http://www.opencoesione.gov.it/">Open Coesione</a></li>
<li class="last leaf"><a title="" href="http://dati.senato.it">Senato della Repubblica</a></li>
</ul>  </div>
</div>
  </div>
          <div class="region region-footer-thirdcolumn">
    <div class="block block-menu" id="block-menu-menu-portali-regionali">

    <h2>Cataloghi territoriali</h2>
  
  <div class="content">
    <ul class="menu clearfix"><li class="first leaf"><a title="" href="http://dati.comune.bologna.it">Comune di Bologna</a></li>
<li class="leaf"><a title="" href="http://opendata.comune.fi.it/">Comune di Firenze</a></li>
<li class="leaf"><a title="" href="http://dati.comune.milano.it/">Comune di Milano</a></li>
<li class="leaf"><a title="" href="http://dati.comune.roma.it">Comune di Roma</a></li>
<li class="leaf"><a title="" href="http://aperto.comune.torino.it/">Comune di Torino</a></li>
<li class="leaf"><a title="" href="http://dati.trentino.it/">Provincia autonoma di Trento</a></li>
<li class="leaf"><a title="" href="http://www.opendata.provincia.roma.it/">Provincia di Roma</a></li>
<li class="leaf"><a title="" href="http://dati.emilia-romagna.it/">Regione Emilia Romagna</a></li>
<li class="leaf"><a title="" href="http://www.regione.liguria.it/opendata.html">Regione Liguria</a></li>
<li class="leaf"><a title="" href="https://dati.lombardia.it">Regione Lombardia</a></li>
<li class="leaf"><a title="" href="http://www.dati.piemonte.it/">Regione Piemonte</a></li>
<li class="leaf"><a title="" href="http://www.dati.puglia.it/portal/page/portal/datipuglia">Regione Puglia</a></li>
<li class="leaf"><a title="" href="http://dati.toscana.it">Regione Toscana</a></li>
<li class="last leaf"><a title="" href="http://dati.veneto.it/">Regione Veneto</a></li>
</ul>  </div>
</div>
  </div>
          <div class="region region-footer-fourthcolumn">
    <div class="block block-menu" id="block-menu-menu-sito">

    <h2>Sito</h2>
  
  <div class="content">
    <ul class="menu clearfix"><li class="first leaf"><a title="" href="http://www.dati.gov.it/content/i-feed-rss-di-datigovit">RSS</a></li>
<li class="leaf"><a title="" href="/content/accessibilita">Accessibilità</a></li>
<li class="leaf"><a title="" href="/content/note-legali">Note legali</a></li>
<li class="leaf"><a title="" href="/content/privacy">Privacy</a></li>
<li class="leaf"><a title="" href="/content/infografica">Infografica</a></li>
<li class-"leaf"=""><a title="" href="/catalog/developer">Sviluppatori</a></li>
<li class="leaf"><a title="" href="/content/scrivi-alla-redazione">Scrivi alla redazione</a></li>
<li class="last leaf"><a title="" href="/user">Area riservata</a></li>
</ul>  </div>
</div>
  </div>
      </div>  
  </div>
</div>

